<!DOCTYPE html>

<htm
<head>
   
    <title>project test</title>

    <link href="dist/hamburgers.css" rel="stylesheet">
  <link href="w3.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" type="text/css" href="style.css">
    
    <script
  src="https://code.jquery.com/jquery-1.8.0.min.js"
  integrity="sha256-jFdOCgY5bfpwZLi0YODkqNXQdIxKpm6y5O/fy0baSzE="
  crossorigin="anonymous"></script>

    <script src="underscore.js"> </script>

<script src="questions.js"></script>
<!--
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
-->
     </head>    
    <body>
        
         <div id="first-section">

        </div>
        
        
        <div id="second-section">
            
           <div class="ins"><p>Question paper</p></div>
            <div class="ins1"><p>Instructions</p></div>
        
        </div>
        
        <nav class="navbar navbar-default stylenv">
  <div class="container-fluid">
    <div class="navbar-header">
     <!-- <a class="navbar-brand" href="#">WebSiteName</a>-->
    <!--</div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>-->
</nav>
      
      <div id="photo-sec">
      
      </div>
      
      <nav class="navbar navbar-default stylenav">
  <div class="container-fluid">
      <div class="tab">
  <button class="tablinks" id="subJect" onclick="Exam.setSubject('physics')">Physics</button>
  <button class="tablinks" onclick="Exam.setSubject('chemistry')">Chemistry</button>
  <button class="tablinks" onclick="Exam.setSubject('maths')">Maths</button>
</div>

<div id="London" class="tabcontent">
  <h3>Physics</h3>
  <p>This is the section for physics</p>
</div>

<div id="Chemistry" class="tabcontent">
  <h3>Chemistry</h3>
  <p>This is the section for chemistry.</p> 
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Maths</h3>
  <p>This is the section for maths</p>
</div>

    <div class="navbar-header">
        </nav>
        
     <!--   <div id="side-section">
            
        </div>  -->
        
       <nav class="navbar navbar-default botnav">
           <input type="button" value="Prev" class="tognext btn btn-default" onclick="Exam.getPrevQuestion()"/>     
        <input type="button" value="Next" class="togprev btn btn-default" onclick="Exam.getNextQuestion()"/>
           <input type="button" value="Review" class="togprev btn btn-default" onclick="Exam.markQuestion()"/>
           
            <!--<input type="button" value="Not Answered" class="btn btn-default" onclick="Exam.getNAnsdQuestion()"/>-->
           
           <input type="button" value="Submit" class="togsubmit btn btn-primary" />
      </nav>
      
    <script type="text/template" class="template">
        <div>
             
            <div style = "width:1165px;height:35px;position:relative;top:-90px;left:5px;border-style:groove;padding:5px;">
             <b>Question No : <%= qNo %></b> <br/>
             </div>
             <div style = "width:1165px;height:465px;border-style:double;position:relative;top:-70px;left:5px;padding:5px;font-size:20px;">
             <p><img src = "<%= Q.ques%>"/></p><br/>
             <% for(option in Q.options) { %>
             <input type='radio' value='<%= option %>' name='<%= name %>' onclick="Exam.getNAnsdQuestion()" /> <%= Q.options[option] %> <br/>
             <% } %>
             </div>
             
             
             
        </div>
    </script>
      
    <script type="text/template" class="trackTpl">
        <div>
            <div></div>
             Choose a Question :<br/>
                <% var index=1;   
                for(q in Q) { %>
                    <div class="<%= Q[q].status %>" onclick="Exam.openQuestion(<%= index %>)">
                    <button class="w3-button w3-round-large common <%= Q[q].status %>"> <%= index++ %> </button>
        </div>
                <% } %>
        </div>
    </script>
    
    <div id="start"></div>
        <br>
        <br>
        
           
       <!-- <input type="button" value="Physics" id="btn1" onclick="Exam.setSubject('physics')">
        <input type="button" value="Chemistry" id="btn2" onclick="Exam.setSubject('chemistry')">
        <input type="button" value="Maths" id="btn3" onclick="Exam.setSubject('maths')">-->
        
   
    
      
      <div class="hamming">
    <button class="hamburger hamburger--collapse-r is-active" type="button">
    <span class="hamburger-box rsize">
      <span class="hamburger-inner"></span>
    </span>
</div>
        <div id="button-container">

<div class="qbuttons" id="subjectTrack" style="overflow:scroll;">
 
 
</div>

  </div>
      
        <script type="text/javascript">

    var hamburger = document.querySelector(".hamburger");

    hamburger.addEventListener('click', function(){
      hamburger.classList.toggle('is-active');
      $(".qbuttons").toggle('bcontain');
    });

      //var con-size = $("button-container").css("height");
    //  $("#button-container").css({"height":(($(window).height())-300)+'px'});

      $(document).ready(function(){
        $('#button-container').css({'top':(($(window).height()) - 1390)+'px'});
      });
      var $con_height = $('#button-container').height();
      $('.button-container').css({'height':(($con_height)- 100)+'px'});    
            

       //$('#button-container').css({'height':(($con_height) + 100) + 'px'});
            
      // code to turn off the scro   
  /*   var scrollPosition = [
  self.pageXOffset || document.documentElement.scrollLeft || document.body.scrollLeft,
  self.pageYOffset || document.documentElement.scrollTop  || document.body.scrollTop
];
var html = jQuery('html'); // it would make more sense to apply this to body, but IE7 won't have that
html.data('scroll-position', scrollPosition);
html.data('previous-overflow', html.css('overflow'));
html.css('overflow', 'hidden');
window.scrollTo(scrollPosition[0], scrollPosition[1]);*/
            
$(function() {
    $('radbtin').click(function () {
        if ($(this).is(':checked')) {
            alert('asd');
        }
    });
});


  </script>
          
          <script src="main1.js?v=1"> </script>
           <img src="shot2.png" class="inq">
    </body>

</html>